@media (max-width:1366px){
    body{
        background-size: 768px;
    }
}

@media (max-width:1360px){
    body{
        background-size: 768px;
    }
}

@media (max-width:1280px){
    body{
        background-size: 768px;
    }
}

@media (max-width:1440px){
    body{
        background-size: 700px;
    }
}

@media (max-width:1280px){
    body{
        background-size: 720px;
    }
}

@media (max-width:1280px){
    body{
        background-size: 600px;
    }
}

@media (max-width:1024px){
    body{
        background-size: 768px;
    }
}

@media (max-width:800px){
    body{
        background-size: 600px !important;
    }
}

